<vg-player (onPlayerReady)="onPlayerReady($event)" style="background-color: transparent !important">
  <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
    <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
  </video>
</vg-player>
<div *ngIf="!(isGuest$ | async); else guest" class="navigation">
  <div (click)="back()" class="guest margin-fix">
    <fa name="arrow-circle-left"></fa>
    <div class="text">Back</div>
  </div>
  <div (click)="search()" class="guest">
    <fa name="search"></fa>
    <div class="text">Search</div>
  </div>
  <div (click)="addToWishlist()" class="guest">
    <fa name="list-alt"></fa>
    <div class="text">Wishist</div>
  </div>
  <div (click)="addFavs()" class="guest">
    <fa name="heart-o"></fa>
    <div class="text">Favourite</div>
  </div>
</div>
  <ng-template #guest>
      <div class="navigation">
          <div (click)="back()" class="guest margin-fix">
              <fa name="arrow-circle-left"></fa>
              <div class="text">Back</div>
            </div>
            <div (click)="search()" class="guest">
              <fa name="search"></fa>
              <div class="text">Search</div>
            </div>
      </div>
</ng-template>

