@import "variables";

:host{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;

}


video {
    // width: 100%;
    // height: 70%;
    display: flex;
    margin: auto;

}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .guest {
        order: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 172px;
        cursor: pointer;
        background-color: $widget-ligther-broder;
        border-right: 1px solid $canvas-blue;
        transition-duration: 0.5s;
        transition-delay: 0.1s;
        color: $base-font-selected;
        font-size: 18px;
          font-weight: $font-light;
        padding: 12px 15px 15px;
        text-align: center;

        &:hover {
          background-color: $base-font-green;
          color: white;
        }

        fa {
          font-size: 76px;
        }
      }
}