.scroll-area {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: auto;
    padding-bottom: 20px;

    /* width */
&::-webkit-scrollbar {
    width: 4px;
    background-color: #1F252F;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
  
    border-radius: 10px;
    background-color: #1F252F;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #334147; 
  }
    .card-wrapper {
        display: flex;
        flex-direction: row !important;
        margin: 10px 10px 0 0;
    }
}
