@import "variables";

.form {
    position: relative;
    .input-wrapper {
        width: 100%;
        input {
            display: block;
            width: 80%;
            margin: auto;
            height: 45px;
            background-color: transparent;
            border: 1px solid $widget-broder;
            font-size: 18px;
            color: $base-font-selected;
            font-weight: 100;
            padding: 0 10px;
    
        }
    }
    
    .result-wrapper {
        z-index: 99;
        position: absolute;
        background-color: $widget-header;
        width: 100%;
        color: $base-font-selected;
     
        .results {
            padding: 10px 5px;
            border-bottom: 1px solid $widget-broder;
            &:hover {
                background-color: $base-font-green;
                color: white;
                cursor: pointer;
            }
        }
        
    }
}

