<form  class="form" [formGroup]="form">
  <div class="input-wrapper">
      <input (focusout)="outsideInputClick()" placeholder="Type to search" formControlName="searchField" class="form-control"/>
  </div>
  <div *ngIf="searchResult$" class="result-wrapper">
      <div (click)="selectSearchItem(movie)" class="results" *ngFor="let movie of searchResult$">
        {{ movie?.name}} 
        </div>
  </div>
</form>

