@import "variables";



.card-item {
  width: 270px;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;

  .mouse-overed {
    .button-wrapper {
      display: block;
    }
  }

  .img {

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 420px;
    text-align: right;
    -webkit-mask-image: linear-gradient(to top, transparent 25%, black 75%);
    mask-image: linear-gradient(to top, transparent 25%, black 75%);
    z-index: 1;
}

  .rate-box {
    position: absolute;
    z-index: 2;
    right: 10px;
    font-size: 36px;
    background-color: $base-font-green;
    padding: 11px 15px 15px;
    top: 10px;
    color: white;
  }

  .details {
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 2;
    justify-self: center;
    top: 50%;
    left: 10px;
    padding: 0 15px;

    .title {
      font-size: $l-font;

      span {
        font-size: 12px;
        padding-left: 10px;
        color: $base-font-selected;
        font-weight: 100;
      }
    }

    .desription {
      font-size: $base-font-size;
      margin-top: 10px;
      color: $base-font-selected;
      min-height: 60px;
      max-height: 60px;
      overflow: auto;
    }

  }

  .pill-wrapper {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: $base-font-green;

    justify-content: space-between;

    .pill {
      font-size: 8px;
      width: 80px;
      padding: 9px 15px;
      text-align: center;

      color: white;


    }


  }

  .button-wrapper {
    position: absolute;
    bottom: 45px;
    display: flex;
    width: 100%;
    flex-direction: row;
    z-index: 2;
	

    .button {
      cursor: pointer;
      background-color: $widget-ligther-broder;
      border: none;
      border-right: 1px solid $footer-blue;
      transition-duration: 0.5s;
      transition-delay: 0.1s;
      color: $base-font-selected;
      width: 33.3%;
      text-align: center;
      font-size: $xxl-font;
      font-weight: $font-light;
    padding: 15px 0;
      &.guest {
        width: 50%;
        display: flex;
        justify-content: center;
        margin: auto;
      }
      &:hover {
        background-color: $base-font-green;
		color: white;
      }
    }
  }
}

