
<div  class="card-item">
    <div [ngStyle]="{'background-image' : 'url(assets/images/movie-covers/' + (spotlightItem?.img || 'legend.jpg') + ')'}" class="img"></div>
    <div class="rate-box">
            {{ spotlightItem?.rate }}
    </div>
    <div class="details">
            <div class="title">{{ spotlightItem?.name }} <span>  <fa name="clock-o"></fa> {{spotlightItem?.length}}</span></div>
            <div class="desription">
                {{ spotlightItem?.description}}
            </div>
            
    </div>
    <div class="pill-wrapper" >
            <div *ngFor="let item of spotlightItem?.genres" class="pill">
                {{ item | uppercase}}
            </div>
    </div>
    <div *ngIf="!(isGuest$ | async); else guest" class="button-wrapper">
        <div [routerLink]="[ '/player',spotlightItem?.id]" class="button"> <fa name="eye"></fa></div>
        <div (click)="addToWishlist()" class="button"><fa name="list-alt"></fa> </div>
        <div (click)="addToFavs()" class="button"><fa name="heart-o"></fa> </div>
    </div>
    <ng-template #guest>
            <div class="button-wrapper">
                    <div [routerLink]="[ '/player',spotlightItem?.id]" class="button guest"> <fa name="eye"></fa></div>
                </div>
    </ng-template>
</div>
    


