// ----- BASE CANVAS ------>

$navbar-blue: #1F252F;
$sidemenu-blue:  #1F252F;
$canvas-blue: #1B2127;
$footer-blue: #1F252F;

$widget-header: #272D39;
$widget-broder: #2F373F;
$widget-ligther-broder: rgb(51, 65, 71);
$search-results: #272D39;

// ----- FONT COLORS ------>

$base-font-color: #C1CBD9;
$base-font-selected: #A4BBCE;
$base-font-red: #D94F4F;
$base-font-green: #B1D133;
$base-font-weight: #FFFFFF;

// TYPOGRAPHY
$base-font-size: 13px;
$normal-font-size: $base-font-size*1.4;
$normalPlus-font-size: $base-font-size*1.2;
$font-small: $base-font-size/1.3;
$l-font: $base-font-size*1.5;
$xl-font: $base-font-size*2;
$xxl-font: $base-font-size*3;
$xxxl-font: $base-font-size*5;
$font-family: 'Raleway', sans-serif;

$font-normal: normal;
$font-light: 100;
$font-bold: 500;

//DIMENTIONS

$full-width: 100vw;
$full-height: 100vh;