@import "variables";

.card-item {
  width: 182px;
  height: 268px;
  margin: 10px 10px 0 0;
  color: white;
  position: relative;

  img {
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    width: 182px;
    height: 268px;
  }

  transition-duration: 0.5s;
  transition-delay: 0.5s;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  opacity: 1;

  .button-wrapper {
    position: absolute;

    
    bottom: 0px;
    width: 100%;
    display: flex;
    background-color: transparent;
    color: transparent;
    flex-direction: row;
    opacity: 0;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    
    .button {
      cursor: pointer;
      background-color: $widget-ligther-broder;
      border: none;
      border-right: 1px solid $footer-blue;
      transition-duration: 0.5s;
      transition-delay: 0.1s;
      color: $base-font-selected;
      width: 50%;
      text-align: center;
      font-size: 18px;
      font-weight: $font-light;
      padding: 15px 15px;
     

      &:hover {
        background-color: $base-font-green;
        color: white;
      }
    }
  }

  &:hover {
    opacity: 0.7;
    cursor: pointer;
    width: 364px;
    height: 596px;

    img {
      width: 364px;
      height: 536px;
    }
  }
}

.card-item:hover .button-wrapper {
  transition-duration: 0.7s;
  transition-delay: 0.1s;
  opacity: 1;
  cursor: pointer;
}