<div class="card-item">
<img src="assets/images/movie-covers/{{movie?.img }}" alt="">
  <div class="button-wrapper">
      <div [routerLink]="[ '/player', movie?.id]" class="button">Watch</div>
      <div class="button" (click)="setSpotlight()">Details</div>
  </div>
</div>

