@import "variables";

.canvas-wrapper {
    display: flex;
    // width: 100vw;
    height: 90vh;
    background-color: $canvas-blue;
}

.footer {
    display: flex;
    // width: 100vw;
    height: 10vh;
    background-color: $footer-blue;
}