@import "variables";

.display-wrapper {
  display: flex;
  flex-direction: row;
  width: 99.6vw;
  height: 100%;
  // background-color: #1F252F;

  .focus-container {
    order: 0;
    display: flex;
    flex-direction: column;
    width: 30%;

    .top-menu-container {
      background-color: $sidemenu-blue;
      margin: 10px 0px 5px 0;
      position: relative;
      display: flex;
      flex-direction: column;
      .guest-notification {
        text-align: center;
        font-size: $base-font-size;
        color: $base-font-red;

      }
      .logout-button {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        background-color: $widget-ligther-broder;
        border: none;
        border-right: 1px solid $footer-blue;
        transition-duration: 0.5s;
        transition-delay: 0.1s;
        color: $base-font-selected;
        width: 20%;
        padding: 10px 0;

        &:hover {
          background-color: $base-font-red;
          color: white;
          &.guest {
          background-color: $base-font-green;
          }
        }
      }
      .search-wrapper{
          top: 50%;
          width: 100%;
          margin-top: 15%;
          padding-bottom: 10px;
  
      }

      .personal-wrapper {
        position: absolute;
        bottom: 0;
        width: 100%;

        button {
          cursor: pointer;
          background-color: $widget-ligther-broder;
          border: none;
          border-right: 1px solid $footer-blue;
          transition-duration: 0.5s;
          transition-delay: 0.1s;
          color: $base-font-selected;
          width: 33.33%;
          padding: 18px 0;

          &:hover {
            background-color: $base-font-green;
            color: white;
           
            
            &.guest {
              background-color: $widget-ligther-broder;
              color: $base-font-selected;
            }
          }
        }
        .genre-wrapper {
          position: absolute;
          top: 51px;
          right: 0px;
          background-color: $widget-header;
          color: $base-font-selected;
          z-index: 99;
          width: 33.33%;
          .results {
            padding: 10px 5px;
            border-bottom: 1px solid $widget-broder;
            &:hover {
                background-color: $base-font-green;
                color: white;
                cursor: pointer;
            }
        }
        }

      }

      height: 30%;
    }

    .hero-container {
      background-color: $sidemenu-blue;
      margin: 5px 0 10px 0;
      // border: 1px solid $widget-ligther-broder;
      height: 70%;
    }
  }

  .feed {
    order: 1;
    max-width: 70%;
    background-color: $sidemenu-blue;
    margin: 10px 0px 10px 10px;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 0px;
  }

    .scroll-container {
      padding: 10px;
      width: 100%;
      overflow: hidden;

      .feed-title {
        color: white;
      }

    }

    .search-results {
      color: $base-font-selected;
      margin-bottom: 20px;
      position: relative;

      .close {
        position: absolute;
        right: 15px;
        top: 10px;
        background-color: $base-font-green;
        border: 0;
        color: white;
        padding: 5px 15px;

        &:hover {
          background-color: $base-font-red;
          cursor: pointer;

        }
      }

      &.openSearch {}
    }
  }
}