<div class="display-wrapper">
  <div class="focus-container">
    <div class="top-menu-container">
      <button *ngIf="!(isGuest$ | async); else guestLogin" class="logout-button" (click)="logout()">Logout</button>
      <ng-template #guestLogin>
        <button class="logout-button" [class.guest]="isGuest$ | async"  (click)="logout()">Login</button>
      </ng-template>
      <div class="search-wrapper">
        <app-seach></app-seach>
      </div>
      <span class="guest-notification" *ngIf="isGuest$ | async">Login to use wishlist and favourite features</span>
      <div class="personal-wrapper">
        
        <button [disabled]="isGuest$ | async" [class.guest]="isGuest$ | async" (click)="showWishlist()">My Wishlist</button>
        <button [disabled]="isGuest$ | async" [class.guest]="isGuest$ | async" (click)="showFavourites()">My Favourites</button>
        <button (click)="showGenre()">Find by Genre</button>
        <div *ngIf="genreVisible" class="genre-wrapper">
          
            <div *ngFor="let value of genreTypes | values" class="results" (click)="findGenre(value)">{{ value | titlecase}}</div>
        </div>
      </div>
    </div>
    
    <div class="hero-container">
      <app-spotlight></app-spotlight>
    </div>
  </div>
  
  <div class="feed">
      <div #searchResults></div>
    <div  attachOutsideOnClick="true" (clickOutside)="onClickedOutside($event)" *ngIf="searchOpen$ | async" [class.openSearch]="searchOpen$" class="scroll-container search-results">
      <div class="feed-title">{{title | titlecase}}</div>
      <app-scroller [movieList$]="searchResults$" ></app-scroller>
      <button (click)="close()" class="close">X</button>
    </div>
    <div class="scroll-container">
      <div class="feed-title">Recently Added</div>
      <app-scroller [movieList$]="recentlyAdded$" ></app-scroller>
    </div>
    <div class="scroll-container">
      <div class="feed-title">Trending Now</div>
      <app-scroller [movieList$]="trendingNow$"></app-scroller>
    </div>


    <div *ngIf="!(isGuest$ | async)" class="user-wrapper">
      <div class="scroll-container">
        <div *ngIf="startedMovies$" class="feed-title">Continue Watching</div>
        <app-scroller [movieList$]="startedMovies$"></app-scroller>
      </div>
      <div class="scroll-container">
        <div *ngIf="completedMovies$" class="feed-title">Watch Again</div>
        <app-scroller [movieList$]="completedMovies$"></app-scroller>
      </div>
    </div>

    <div *ngIf="isGuest$ async" class="guest-wrapper">
      <div  class="scroll-container">
        <div class="feed-title">All Movies</div>
        <app-scroller [movieList$]="movieList$" ></app-scroller>
      </div>
    </div>
  </div>
</div>
